html,
body {
  margin: 0;
  height: max-content;
}

body {
    /* background: rgb(34,193,195);
    background-color: rgba(32, 178, 171, 0.884);
    background: linear-gradient(0deg, rgb(255, 250, 240) 20%, rgb(255, 253, 208) 70%, rgb(246, 240, 188) 90%);
    background: rgb(39,59,98);
    background: linear-gradient(0deg,  26%, rgba(32, 178, 171) 58%, rgba(1,83,191,1) 74%);    background-size: contain;
    background: rgb(44,65,167);
background: linear-gradient(90deg, rgba(44,65,167,1) 0%, rgba(33,52,134,1) 55%, rgba(31,125,175,1) 100%);
background: rgb(44,65,167);
background: linear-gradient(90deg, rgba(44,65,167,1) 0%, rgba(65,135,182,1) 55%, rgba(31,125,175,1) 100%); */
    background:  rgba(65,135,182,1);
    min-height: 100%;
}

h2{
    text-align: center;
    Font-family: "Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif";
    margin-bottom: 4%;
    margin-top: 6%;
}

h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 4%;
    Font-family: "Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif";
    /* background-color: lightseagreen; */
}